.content-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.films-container {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
  justify-content: space-between;
  padding-bottom: 30px;
}

.paginate-buttons-container {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 12px;
}

@media only screen and (max-width: 600px) {
  .paginate-buttons-container {
    justify-content: center;
  }
  .films-container {
    max-width: 400px;
    justify-content: center;
  }
}
