.genre-wrapper {
  font-size: 14px;
  font-weight: var(--semi-bold);
  padding: 6px 16px;
  text-align: center;
  display: flex;
  width: min-content;
  align-items: center;
  gap: 4px;
}

.genre-wrapper > svg {
  width: 20px;
  height: 20px;
}

.primary {
  background-color: var(--blue-300);
  color: var(--white);
}

.danger {
  border: 2px solid var(--red);
  color: var(--red);
}
