.back-button-wrapper {
  width: 100%;
  max-width: 1064px;
  margin: 0 auto;
  padding: 0px 32px;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  gap: 20px;
  max-width: 1064px;
  padding: 0px 32px;
  margin: 32px auto;
}

.right-side-wrapper > h1,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.right-side-wrapper > p {
  text-align: justify;
}

.right-side-wrapper > h2 {
  margin-top: 4px;
  margin-bottom: 0px;
}

.right-side-wrapper > .section-title {
  margin-top: 20px;
  margin-bottom: 4px;
}

.rating-wrapper {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.rating {
  margin-left: 0;
  margin-right: 4px;
  max-width: fit-content;
  cursor: default;
}

.spinner-container {
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.genres-wrapper {
  display: flex;
  gap: 8px;
  margin-top: 16px;
}

.adult-genre > p {
  color: var(--red) !important;
}

.cast-wrapper {
  display: flex;
  gap: 16px;
  margin-top: 6px;
  max-width: 500px;
  overflow: auto;
  padding-bottom: 8px;
}

.cast-wrapper::-webkit-scrollbar {
  height: 10px;
}

.cast-wrapper::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: var(--light-gray);
}

.cast-wrapper::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: content-box;
  background-color: var(--gray);
}
