button {
  font-weight: var(--medium);
  color: var(--white);
}

.sm {
  font-size: 12px;
  padding: 8px 32px;
}

.md {
  font-size: 18px;
  padding: 12px 48px;
}

.lg {
  font-size: 24px;
  padding: 16px 64px;
}

.primary {
  background-color: var(--blue-500);
}

.secondary {
  background-color: var(--blue-300);
}

.tertiary {
  border: 2px solid var(--white);
}

.tertiary.disabled {
  border: 2px solid var(--dark-200);
}

.disabled {
  color: var(--dark-200);
  cursor: default;
}
