.nav-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

@media only screen and (max-width: 600px) {
  .nav-container {
    max-width: 400px;
    justify-content: center;
  }
}
