/* TODO: fix importants */
.tooltip {
  background-color: var(--blue) !important;
  color: var(--white) !important;

  padding: 5px 15px !important;
  border-radius: 6px !important;

  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px !important;
  font-weight: 500;
}
