.input-container {
  background-color: var(--dark-400);
  display: flex;
  align-items: center;
  width: max-content;
  font-size: 24px;
  color: var(--dark-100);
  padding: 4px 12px;
  transition: color 0.3s;
}

.input-container:focus-within {
  color: var(--white);
}

.input {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  background-color: var(--dark-400);
  color: var(--white);
  font-size: 14px;
  width: 315px;
  height: 30px;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dark-100);
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--dark-100);
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--dark-100);
}

*:focus {
  outline: none;
}
