.input-container {
  display: flex;
  align-items: center;
  width: max-content;
  height: 38px;
  font-size: 22px;
  color: var(--white);
  padding: 0px 12px;
  transition: color 0.3s, width 0.3s;
  overflow: hidden;
}

.input-container.expanded {
  background-color: var(--dark-400);
  color: var(--dark-100);
  width: 315px;
  animation: slideIn 0.3s ease-in-out;
}

.input-container:not(.expanded) svg {
  cursor: pointer;
}

.input-container:focus-within {
  color: var(--white);
}

.input {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  border: none;
  background-color: var(--dark-400);
  color: var(--white);
  font-size: 14px;
  width: 315px;
  height: 30px;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--dark-100);
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--dark-100);
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--dark-100);
}

*:focus {
  outline: none;
}

@keyframes slideIn {
  from {
    width: 50px;
  }
  to {
    width: 315px;
  }
}
