:root {
  --blue: #2c38a1;
  --dark-blue: #1f287e;
  --white: #fff;
  --menu-width: 262px;
  --mobile-menu-width: 40px;
  --dark-gray: #4e4e4e;
  --gray: #d9d9d9;
  --light-gray: #f7f7f7;
  --red: #b11b1b;
  --dark-text: #222;
}
