:root {
  --white: #ffff;
  --dark-100: #c2c2;
  --dark-200: #8888;
  --dark-300: #5252;
  --dark-400: #2222;

  --blue-100: #516282;
  --blue-200: #384968;
  --blue-300: #1F324F;
  --blue-400: #041D37;
  --blue-500: #001226;

  --red: #9D1C1C;


  --menu-width: 262px;
  --mobile-menu-width: 40px;

  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}
